<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="hsrb_base_transmission" params="prefix">
        <xacro:hsrb_velocity_joint_transmission joint="${prefix}_r_drive_wheel_joint" reduction="1"/>
        <xacro:hsrb_velocity_joint_transmission joint="${prefix}_l_drive_wheel_joint" reduction="1"/>
        <xacro:hsrb_velocity_joint_transmission joint="${prefix}_roll_joint" reduction="1"/>
    </xacro:macro>
</robot>
