<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="hsrb_wrist_transmission" params="prefix">
        <xacro:hsrb_position_joint_transmission joint="${prefix}_flex_joint" reduction="1"/>
        <xacro:hsrb_position_joint_transmission joint="${prefix}_roll_joint" reduction="1"/>
    </xacro:macro>

</robot>
